extends ../layouts/blank

block content

  .breadcrumb
    li
      a(href='/') 首页
    li.active
      | 登录

  .page-header
    .pull-right
      a(href='/signup').btn.btn-info 注册
    h1 登录
      | 
      small 欢迎回来

  include ../includes/messages

  form.form-horizontal(role="form", action='/signin', method='post')
    .form-group
      label.col-sm-2.control-label
        strong 邮箱
      .col-sm-4
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-envelope
          input(type='text', name='email', value=locals.email).form-control
        span.help-block 请输入您的邮箱

    .form-group
      label.col-sm-2.control-label
        strong 密码
      .col-sm-4
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input(type='password', name='passwd', value=locals.passwd).form-control
        span.help-block 请输入您的登录密码
    
    .form-group
      label.col-sm-2.control-label
      .col-sm-4
        input(type='checkbox', checked='checked')
        | &nbsp;下次自动登录（保存两周）
        a(href='/forgot') 忘记密码？

    .form-group
      .col-sm-offset-2.col-sm-10
        button(type='submit').btn.btn-primary.btn-large
          | 登录

  include ../includes/scripts
