footer.footer
  .container
    p.pull-right
      a(href='#') 返回顶部
    p
      small= locals.version
      |  - 基于
      a(href='//nodejs.org/', target='_blank') Node.JS
      | 、
      a(href='//expressjs.com/', target='_blank') Express
      |  和
      a(href='//mongodb.com/', target='_blank') MongoDB
      |  构建
    p 
      | &copy;2013
      a(href='#', target='_blank') &nbsp;IMP(<small>Investment Management Platform</small>)