h3 标签
.list.smart-tags
  a(href='#') 高回报
  a(href='#') 日常周转

h3 最新投资
.list.latest-topics
  a(href='#') 资金周转

h3 友情链接
.list.friendly-links
  a(href='http://www.my089.com/', target="_blank") 红岭创投
  a(href='http://www.anxin.com/', target="_blank") 安心贷
  a(href='http://www.renrendai.com/', target="_blank") 人人贷

